*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family: Arial;

    background: linear-gradient(
    135deg,
    #ff9a9e,
    #fad0c4,
    #a18cd1,
    #84fab0
    );

    min-height:100vh;

}

/* MAIN PAGE */

.main-container{

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.card{

    width:1100px;

    background:white;

    border-radius:25px;

    display:flex;

    overflow:hidden;

    box-shadow:0px 0px 25px rgba(0,0,0,0.2);

}

/* LEFT */

.left{

    width:40%;

    background:linear-gradient(
    135deg,
    #7f00ff,
    #e100ff
    );

    color:white;

    text-align:center;

    padding:40px;

}

.left h1{

    font-size:42px;

    margin-top:20px;

}

.left p{

    margin-top:15px;

    font-size:20px;

}

.left img{

    width:280px;

    margin-top:40px;

}

/* RIGHT */

.right{

    width:60%;

    padding:45px;

}

input,
select{

    width:100%;

    padding:15px;

    margin-top:15px;
    margin-bottom:15px;

    border-radius:10px;

    border:2px solid #ddd;

    font-size:16px;

}

input:focus,
select:focus{

    outline:none;

    border-color:#7f00ff;

}

.upload-text{

    font-weight:bold;

    color:#444;

}

button{

    width:100%;

    padding:16px;

    border:none;

    border-radius:12px;

    background:linear-gradient(
    90deg,
    #7f00ff,
    #e100ff
    );

    color:white;

    font-size:18px;

    cursor:pointer;

    margin-top:20px;

}

button:hover{

    opacity:0.9;

}

/* SUCCESS PAGE */

.success-card,
.task-card{

    width:700px;

    background:white;

    margin:auto;

    margin-top:60px;

    padding:40px;

    border-radius:20px;

    box-shadow:0px 0px 20px rgba(0,0,0,0.2);

}

.details{

    margin-top:25px;

    font-size:20px;

    line-height:45px;

}

.task-box{

    background:#f4f4f4;

    padding:25px;

    border-radius:12px;

    margin-top:25px;
    margin-bottom:25px;

}

/* OFFER LETTER */

.offer-main{

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    padding:40px;

}

.offer-paper{

    width:850px;

    background:white;

    border:12px solid #7f00ff;

    border-radius:20px;

    padding:50px;

    box-shadow:0px 0px 30px rgba(0,0,0,0.3);

}

.top-section{

    text-align:center;

    border-bottom:3px solid #ddd;

    padding-bottom:25px;

}

.top-section h1{

    font-size:50px;

    color:#7f00ff;

}

.top-section h3{

    margin-top:10px;

    color:#666;

}

.middle-section{

    text-align:center;

    padding:40px 20px;

}

.middle-section h2{

    font-size:42px;

    color:#e100ff;

    margin:20px 0;

}

.middle-section h3{

    font-size:30px;

    color:#7f00ff;

}

.text{

    font-size:22px;

    color:#444;

    line-height:35px;

}

.duration-box{

    margin-top:30px;

    background:#f3e8ff;

    padding:18px;

    border-radius:12px;

    font-size:22px;

}

.date-box{

    margin-top:25px;

    background:#ecfeff;

    padding:20px;

    border-radius:12px;

    font-size:20px;

}

.bottom-section{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-top:50px;

}

.sign{

    font-size:22px;

}

.stamp{

    width:130px;
    height:130px;

    border-radius:50%;

    background:gold;

    display:flex;

    justify-content:center;
    align-items:center;

    font-size:22px;

    font-weight:bold;

}